<div class="modal-header">
  <h3 class="modal-title">Cart</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class = "empty-cart text-center">
		  <img src="/assets/empty-cart.png" alt="Empty cart" width="300" height="400"><br>
		  <br>
		  <p>The cart is empty But it's never too late to fix it :)</p>
		</div>
		<% if cart.present? %>
	    <% cart.cart_items.each do |item|%>
	      <div class = "row" id="item-<%= item.id %>">
	      	<div class = "col-md-4">
	      		<% if item.product.attachment.attached? %>
	  	      	<%= image_tag(item.product.attachment, width: "96", alt: "Image", class: "card-img-modal mx-auto d-block") %>
	  	      <% end %>
	  	    </div>
	        <div class = "col-md-8">
	          <p> <%= item.product.name %> </p>
	          <p> <%= item.product.price %> <i class = "fas fa-hryvnia"></i> </p>
	          <div class="form-inline">
	          	<div class="form-group">
	             <%= link_to "+", 'javascript:void(0)', data: { url: product_cart_item_path(item.product.id, item, query: "increment") }, class: "btn btn-info change-quantity" %>
	            </div>
	            <div class = "form-group">
	              <input id="quantity_cart_input"  class="form-control" value="<%= item.quantity %>" readonly></input>
	            </div>
	            <div class = "form-group">
	              <%= link_to "-", 'javascript:void(0)', data: { url:  product_cart_item_path(item.product.id, item, query: "decrement") }, class: 'btn btn-info change-quantity' %>
	            </div>
	             <%= link_to "Delete", 'javascript:void(0)', data: { url: product_cart_item_path(item.product.id, item) }, class: 'btn btn-warning delete-cart-item' %>
	          </div>
	          <hr>
	        </div>
	      </div>
	    <% end %>
	   <% end %>
  </div>
</div>
<% if cart&.cart_items&.present? %>
<div class="modal-footer">
        <div class="count-price">
        	<div class="element-footer">
        	  <span class="total-price">Total price: <%= cart.total_price %> <i class = "fas fa-hryvnia"></i></span>
        	 
        	  <%= link_to "To order", new_order_path, class: "btn btn-success"%>
          </div>
        </div>
</div>
<% else %>
<% end %>