<div class='container'>	
   <div class = "row">
   	<% if @products.present? %>
   	<p class = "title text-center"><%= @category&.name%></p>
   	<% else %>
   	<p class = "title text-center">There are not any products.</p>
   	<% end %>
   </div>	
	<div class = "row">
		<div class = "col-md-9">
			<div class="dropdown">
         <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           	 <%= render "products/side_filters", object: @products %>
           </div>
		   </div>
		</div>

		<div class = "col-md-3">
		  <%= render "products/filter", object: @products %>
	  </div>
	</div>

<div class = "row">
	<div class = "col-md-12">
		<div class = "row">
	    <%= render "products/content_card", object: @products %>
	  </div>
	  <div  class= "pagin">
	    <%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	  </div>
	</div>
</div>



    

