<div class = "container">
	<div class = "row">
		
			<p class = "title"><%= @product.name %></p>
	
		<div class = "col-md-6">
			<div class = "card">
				<% if @product.attachment.attached? %>
					<%= image_tag(@product.attachment, width: "75%", height: "75%") %>
				<% end %>
			</div>
		</div>
		<div class = "col-md-6">
			<div class = "card">
				<div class = "card-body">
				  <p class = "text-secondary">Product code: 56 240221</p>
					<p class = "text-success">In stock</p>
					<div class = "row ">
					   <h2 class = "price-card"><p class = "button-span"><%= @product.price %><i class = "fas fa-hryvnia"></p></i></h2>
					     <%= button_to "Add to cart", product_cart_items_path(@product), method: :post, class: "btn btn-success button-card" %>
					</div>
				  <hr>
				  <p>All characteristics</p>
				  <p><%= @product.characteristic %></p>
				</div>
			</div>
		</div>

	</div>
</div>
<% if user_signed_in? %>
<div class="container">
	<h2>Leave comment</h2>
	<br>
	<div class="row">
    <%= render 'comments/new', locals: { product: @product }%>
  </div>
</div>
<% else %>
  <p>Info! Only logged user can leave comment.</p>
<% end %>
<br>