<div class = "container">
	<div class = "row">
		<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/search?category=<%= @product.category.parent.name%>"><%= @product.category.parent.name %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/search?sub=<%= @product.category.id %>"><%= @product.category.name %></a></li>
       </ol>
    </nav>

		
			<p class = "title"><%= @product.name %></p>
	
		<div class = "col-md-6">
			<div class = "card">
				<% if @product.attachment.attached? %>
					<%= image_tag(@product.attachment, width: "75%", height: "75%") %>
				<% end %>
			</div>
		</div>
		<div class = "col-md-6">
			<div class = "card">
				<div class = "card-body">
				  <span class = "stars-value" data-star=<%=@product.star_average%>>
				  	<i class="value"></i>				  	
				  </span> <span><%=@product.star_average%><span>
					<p class = "text-success">In stock</p>
					<div class = "row ">
					   <h2 class = "price-card"><p class = "button-span"><%= @product.price %><i class = "fas fa-hryvnia"></p></i></h2>
					     <%= button_to "Add to cart", product_cart_items_path(@product), method: :post, class: "btn btn-success button-card" %>
					</div>
				  <hr>
				  <p>All characteristics</p>
				  <p><%= @product.characteristic %></p>
				</div>
			</div>
		</div>

	</div>
</div>
<% if user_signed_in? && check_product(@product) %>
<div class="container">
	<h2>Leave comment</h2>
	<br>
	<div class="row">
    <%= render 'comments/new', locals: { product: @product }%>
  </div>
</div>
<% else %>
 <div class="container">
 	<div class = "alert alert-warning">
    <p>Info! Only logged user can leave comment.</p>
  </div>
 </div>
<% end %>
<br>
<br>

<div class="container">
	<div class="row comments">
		<%= render 'comments/comments', locals: { product: @product }%>
	</div>
</div>


 <script>  

        $(document).ready(function() {  
        	     var rat = $('.stars-value').data("star");

        	     if ($('.stars-value').data("star") == 0){
        	     	 $('.value').addClass("fa fa-star");
        	     }else{
          	   var ite = $('.value').addClass("fa fa-star").css("color", "yellow");
          	   }
               for (var i = 0; i < rat-1; i++) {
               	$(".stars-value").append(ite.clone());
              }

          	});     
    </script>