<nav class='header-nav'>
    <div class = "row">
    	<div class = "col-md-2">
    		<div class="navbar-brand text-uppercase font-weight-bold">
    		<a href = "/">Apple Store</a></div>    
		  </div>

	  	<div class = "col-md-8 input-catalog">
		    <%= render "layouts/search" %>
		  </div>

		  <div class = "col-md-2 user-icon">
		  	<div class="dropdown">
		      <i class='far fa-user-circle user-icon' id = "user">
		      </i>
		        <ul class="dropdown-menu" id = "user-drop-menu">
		        	<% if user_signed_in? %>
		        	  <li><a href="">Edit profile</a></li>
                <hr>
                <li><%= link_to("Log out", destroy_user_session_path, method: :delete)%></li>
		        	<% else %>
                <li><a href="/users/sign_in" data-toggle="modal" data-target="#log-in-modal">Log in</a></li>
                <hr>
                <li><a href="/users/sign_up" data-toggle="modal" data-target="#sign-up-modal">Sign up</a></li>
              <% end %>
            </ul>
          <%= link_to "", cart_url, class: 'fa fa-shopping-cart cart-icon', data: {toggle: "modal", target: "#cart-modal-info"} %><span class="num-category"><%= cart&.cart_items&.count || 0 %></span>
		  </div>
		  </div>
	  </div>

	  <div class = "row">
	    <div class = "col-md-12 catalog">
    	  <%= render "layouts/nav" %>  
      </div>
    </div>
	</div>
 </div>
 <hr>
</nav>

<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="<%= resource.errors.any? ? 'modal' : 'modal hide'%>">
	<div class="modal-dialog" role="document">
    <div class="modal-content">
	     <%= render template: "devise/registrations/new" %>
	  </div>
	</div>
</div>

<div class="modal fade" id ="log-in-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
    <div class="modal-content">
	     <%= render template: "devise/sessions/new" %>
	  </div>
	</div>
</div> 

<div class="modal fade" id ="cart-modal-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	     <%= render template: "carts/show", locals: { cart_items: cart&.cart_items || 0 } %>
	  </div>
	</div>
</div>



<script>

$(document).ready(function(){
	$( "#tags" ).autocomplete({ source: function(request, response) {
		  $.getJSON('/search.json', { filter : $('#tags').val() }, function(data){
		  	var suggestions = [];
		  	debugger
		  	$.each(data, function(key, val) {
		  		suggestions.push({id: val.id, label: val.name, value: val.name });
		  		});
		  	response(suggestions);
        });
    }     
  });
});


$(document).ready(function(){
$( "#user" ).click(function() {
  $( "#user-drop-menu" ).toggle();
});
});



</script>
