<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>
  <body>
    <%= render "layouts/header"%>
    <%= yield %>
  </body>
</html>

<script>
  $(document).on('submit', '#form-sign-up', function (data) {
    debugger
  })

  $(document).on('click', '.change-quantity', function (e) {
    var self = this;
    var url = $(self).data('url');

    $.ajax({
      url: url,
      method: 'PUT',
      contentType: "application/json",
      dataType: 'json',

      success: function (data) {
        $(self).parents('.form-inline').find('input').val(data['quantity_count']);
        $('.total-price').text(data['price']);        

      }
    })
  })

  $(document).on('click', '.delete-cart-item', function (e) {
    var self = this;
    var url = $(self).data('url');
    var count_row = $('.modal-body').find('.row').length;

    $.ajax({
      url: url,
      method: 'DELETE',
      contentType: "application/json",
      dataType: 'json',

      success: function (data) {
        $(self).parents('.row').remove('#item-' + data['item']);
        var count_row = $('.modal-body').find('.row').length;
        $('.num-category').text(count_row);
        if (count_row == 0){
          $('.empty-cart').show();
        } else{
          $('.empty-cart').hide();
        }
      }
    })
  })
  $(document).on('click', '.cart-icon', function (e) {
     var count_row = $('.modal-body').find('.row').length;
     if (count_row == 0){
          $('.empty-cart').show();
        } else{
          $('.empty-cart').hide();
      }
  })


 
</script>
